[BEGINVDF]
Comment=G2Ext (%%D)%%Ncopyright (c) 2009, 2010 Paindevs and Patrick Vogel.
BaseDir=.\
VDFName=.\build\data\g2ext.vdf
[FILES]
_work\data\Textures\_compiled\*-C.TEX
_work\data\Textures\_compiled\*.FNT
_work\Data\Textures\Desktop\nomip\*.TGA
_work\Data\Textures\Desktop\nomip_16bit\*.TGA
_work\Data\Textures\Fonts\nomip\*.TGA
[EXCLUDE]
*\.svn\* -r
[INCLUDE]
[ENDVDF]
